<mat-toolbar color="primary" class="">
    <button *ngIf="smallScreen == true" (click)="toggleSideNav()" mat-icon-button aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Asite LMS</span>
    <span class="spacer"></span>
    <button type="button" routerLink="/login" mat-flat-button color="primary" title="Login">
        Login
    </button>
    <button type="button" routerLink="/sign-up" mat-flat-button color="primary" title="Sign Up">
        Sign Up
    </button>
    <button type="button" routerLink="/profile" mat-flat-button color="primary" title="Profile">
        Profile
    </button>
    <button type="button" routerLink="/dashboard-home" mat-flat-button color="primary" title="Dashboard">
        Dashboard
    </button>
</mat-toolbar>