<p>view-profile-talent works!</p>

<div class="talent-profile-wrapper">
    <!-- Talent Profile card -->
    <mat-card class="profile-card">
        <mat-card-header>
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
        </mat-card-header>
        <img class="talent-profile-image" mat-card-image src="https://bit.ly/40kBxIg" alt="talent-photo">
        <div class="talent-name-title">
            <p>Danya Garcia</p>
            <mat-card-subtitle>UI/UX Developer</mat-card-subtitle>
        </div>
        
        <div class="talent-basic-details">
            <hr>
            <mat-card-content>
                <p>
                  Username: dgarcia
                </p>
                <p>
                  Email: dgarcia@asite.com
                </p>
              </mat-card-content>
        </div>
    
        <mat-card-actions>
          <button mat-raised-button color="primary">Edit</button>
        </mat-card-actions>
      </mat-card>

      <!-- Talent profile full detail -->
      <mat-card class="talent-personal-details-section info-section">
          <h2>Personal details</h2>
          <hr>
          <p><span>Name:</span> {{talentData.fullName}}</p>
          <p><span>Email:</span> {{talentData.email}}</p>
          <p><span>Age: </span> {{talentData.age}}</p>
          <p><span>Gender:</span> {{talentData.gender}}</p>
          <p><span>Country:</span> {{talentData.country}}</p>
          <h2>Education details</h2>
          <hr>
          <p><span>Degree:</span> {{talentData.degree}}</p>
          <p><span>University:</span> {{talentData.university}}</p>
          <p><span>Year of passing: </span> {{talentData.yearOfPassing}}</p>
      </mat-card>
      <mat-card class="talent-professional-details-section info-section">
        <h2>Professional details</h2>
        <hr>
        <p><span>Current status:</span> {{talentData.currentStatus}}</p>
        <p><span>Professional background:</span> {{talentData.professionalBackground}}</p>
        <p><span>Industry: </span> {{talentData.industry}}</p>
        <p><span>Years of experience:</span> {{talentData.yearsOfExperience}}</p>
        <h2>Skills</h2>
        <p><span>Technical:</span></p>
        <p>{{talentData.skills.technical}}</p>
        <p><span>Non-technical</span></p>
        <p>{{talentData.skills.nonTechnical}}</p>
        <p><span>Current employer: </span>{{talentData.currentEmployer}}</p>
        <p><span>Linkedin: </span><a href={{talentData.linkedin}} target="_blank">{{talentData.linkedin}}</a></p>
        <p><span>Recorded video link: </span><a href={{talentData.recordedVideo}}>{{talentData.recordedVideo}}</a></p>
    </mat-card>

</div>

  
