.sidenav-item-selected {
    background-color: rgba(63, 81, 181, .15);
}

.sidenav-container {
    width: 240px;
    min-height: 150vh;
}

.drawer-content {
    max-height: calc(100vh - 64px);
    min-height: calc(100vh - 64px);
}

.drawer-div {
    margin: 12px;
    border-radius: 4px;
}

@media (max-width: 599px) {
    .drawer-content {
        max-height: calc(100vh - 56px);
        min-height: calc(100vh - 56px);
    }
}