.sidenav-item-selected {
    background-color: rgba(63,81,181,.15);
}
  
.sidenav-container{
    width: 240px                                                                                                                                                        ;
}

.drawer-height {
    height: calc(100vh - 64px);
}