mat-card {
  max-width: 100%;
  margin: 2em auto;
  text-align: center;
  max-height: 600px;
}

.header {
  text-align: left;
}
.full-width {
  width: 40%;
}

.button-row {
  padding-top: 5px;
}

.button-row a {
  margin-right: 8px;
  text-align: center;
}

.emailInput {
  padding-top: 10px;
}
