.programs-table-container {
    max-height: 70vh;
    overflow: auto;
}

.programTitle-col {
    max-width: 30vw;
    min-width: 30vw;
}

td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

tr:not(.row):hover {
    background: whitesmoke;
}